.chatlist{
    display: flex;
    flex-direction: column;
    height: 100%;

    hr{
        background-color: black;
        border: none;
        opacity: 0.1;
        height: 2px;
        border-radius: 2px;
        margin: 20px 0px;
    }

    .title{
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 10px;
        color: white;
    }

    .lists{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        max-height: 200px;
        color: white;
    }
    
    a{
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        color: white;

        &:hover{
            background-color: rgb(226, 239, 239);
            color: rgb(43, 39, 43);
        }
    }

    .upgrades{
        margin-bottom:5px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 12px;

        img{
            height: 24px;
            width: 24px;
            margin-left: 5px;
        }

        .texts{
            display: flex;
            flex-direction: column;
            color: white;

            span {
                    color: white;
                    &:first-child {
                        font-weight: 600;
                    }
            
                    &:last-child {
                        color: white;
                    }
        }
    }
}
}